@page
@{
    Layout = "PublicLayout";
}
@model Account.UI.Pages.LoginModel
@{
}
<div class="container mt-5">
    <div class="card login-screen">
        <div class="card-header text-center">
            <h5 class="m-0">Login</h5>
          </div>
        <div class="card-body">
            <div class="mt-3">
                <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                           <label class="form-label" asp-for="Model.Email">Email Address</label>
                           <input type="text" class="form-control" asp-for="Model.Email" />
                           <span asp-validation-for="Model.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                           <label class="form-label" asp-for="Model.Password">Password</label>
                           <input type="password" class="form-control" asp-for="Model.Password" />
                           <span asp-validation-for="Model.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" asp-for="Model.RememberMe" class="form-check-input" />
                          <label class="form-check-label" asp-for="Model.RememberMe">Remember Me?</label>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>

                    </form>
            </div>
        </div>
    </div>
    
</div>
