@page
@model Account.UI.Pages.SalesInvoiceModel
@{
}
<h1>Sales Invoice</h1>
<p>Create, view and manage your customer records.</p>

<div class="row">
	<div class="col-sm-10">
		<div class="row">
			<div class="ui-toolbar mr10 col">
				 <span>0 of 1 selected</span>
			</div>
			<div class="col-4">
				<div class="input-group mr10">
				  <span class="input-group-text custom-search-icon" id="basic-addon1"><i class="fa fa-search f12"></i></span>
				  <input type="text" class="form-control form-control-sm adjust-searchbox" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="col">
				<div class="input-group mr10" id="datepicker1">
					<span class="input-group-text custom-label-text f12" id="basic-calendar">Form</span>
					<input type="text" class="form-control form-control-sm" />
					<span class="input-group-text custom-search-icon" id="basic-calendar"><i class="fa fa-calendar f12"></i></span>
				</div>
			</div>
			<div class="col">
				
			<div class="input-group mr10" id="datepicker2">
				<span class="input-group-text custom-label-text f12" id="basic-calendar">To</span>
				<input type="text" class="form-control form-control-sm" />
				<span class="input-group-text custom-search-icon" id="basic-calendar2"><i class="fa fa-calendar f12"></i></span>
			</div>
			</div>
			<div class="col">
				<button class="btn btn-outline-primary btn-sm">Search</button>
			</div>

		</div>	
	</div>
	<div class="col-sm-2">
		<div class="d-flex justify-content-end">
			
			<div class="dropdown">
			  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
				New Invoice
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li><a class="dropdown-item" href="#">New Credit Note</a></li>
			  </ul>
			</div>
		</div>
	</div>
</div>
<table class="table bg-light table-striped mt-2 custom-padding">
	 <thead>
		<tr class="bg-secondary text-white">
			<th width="40">
				<div class="form-check mx-2">
					<input class="form-check-input" type="checkbox" value="">
				</div>
			</th>
			<th>Invoice Number</th>
			<th>Invoice Date</th>
			<th>Telephone</th>
			<th>User</th>
			<th>Total</th>
			<th>Outstanding</th>
			<th>Issued</th>
			<th>Status</th>
			<th>Attachments</th>
		</tr>
	 </thead>
	<tbody>
    <tr>
      <th>
	  <div class="form-check mx-2">
			<input class="form-check-input" type="checkbox" value="">
		</div>
	  </th>
     <td></td>
	 <td></td>
	 <td></td>
	 <td></td>
	 <td></td>
	 <td></td>
	 <td></td>
	 <td></td>
	 <td></td>
    </tr>
    
	 <tr>
		  <td colspan="10" class="bg-light">
			  <div class="d-flex justify-content-between">
				  <div>
					  Show
					  <select>
						  <option>10</option>
						  <option>20</option>
						  <option>30</option>
						  <option>40</option>
						  <option>50</option>
					  </select>
					  records
				  </div>
				  <div>
					  <a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a>
					  <input class="f12" type="text" style="width: 30px;" />
					  of 1
					  <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a>
				  </div>
				  <div>
					  1 record
				 </div>
			  </div>
			  
		  </td>
	  </tr>
  </tbody>

	 

</table>




@section scripts{
    <script>
        jQuery(document).ready(function ($) {
            
        });
    </script>
}